<!DOCTYPE html>
<html>
  <head>
    <title>Do I Need a Jacket?</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="wrapper">
      <h1>Do I Need a Jacket?</h1>
      <form>
        <input type="text" id="city" placeholder="Enter city name">
        <button type="submit">Get temperature</button>
      </form>
      <div id="result"></div>
      <div id="error"></div>
      <div id="temp"></div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
